.button-area-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border-radius: 5px;
  background: #ec910a;
  border: 1px solid #ebeced;
  transition: opacity 0.2s;
  cursor: pointer;
}

.button-area-action button {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.button-area-action:hover {
  opacity: 0.9;
}