.a-logo-petclient {
  text-decoration: none;
}

.a-logo-petclient .logo-petcare {
  display: flex;
}

.a-logo-petclient .logo-petcare .petcare-logo {
  color: #7bbb5e;
  max-width: 45px;
  max-height: 45px;
  width: 100%;
  transition: 0.2s;
}

.a-logo-petclient .logo-petcare span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7bbb5e;
  font-size: 18px;
  margin-left: 10px;
}

@media only screen and (max-width: 625px) and (min-width: 0px) {
  .a-logo-petclient .logo-petcare span {
    display: none;
  }
}