.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.container-main .petshops {
  margin-top: 25px;
}

.container-main .petshops .header-list-petshops {
  font-size: 15px;
  color: #2D2D2D;
}

.container-main .petshops .list-petshops {
  max-width: 920px;
  display: grid;
  grid-gap: 15px;
  margin: 20px auto 20px;
  column-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  margin-top: 25px;
  margin-bottom: 50px;
  transition: all 0.2s ease 0s;
}