#content-list-favorites::-webkit-scrollbar {
  height: 8px;
}

#content-list-favorites::-webkit-scrollbar-track {
  background: #ebeced; 
}

#content-list-favorites::-webkit-scrollbar-thumb {
  background: #717171; 
}

#content-list-favorites::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.container-main .favorites-petshops {
  margin-top: 25px;
  max-width: 920px;
  width: 100%;
}

.container-main .petshops {
  margin-top: 25px;
  max-width: 920px;
  width: 100%;
}

.container-main .favorites-petshops .header-list-favorites, .container-main .petshops .header-list-petshops {
  font-size: 15px;
  color: #2D2D2D;
}

.container-main .petshops .header-list-petshops .actions-content-list-petshop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px 0;
}

.container-main .petshops .header-list-petshops .actions-content-list-petshop .btn-actions-search {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
}

.container-main .petshops .header-list-petshops .actions-content-list-petshop .btn-actions-search button {
  border: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 10px;
  color: #717171;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ebeced;
  transition: 0.1s;
  cursor: pointer;
  height: 35px;
}

.container-main .petshops .header-list-petshops .actions-content-list-petshop .btn-actions-search button:hover {
  background: #f9f7f7;
}

.container-main .petshops .header-list-petshops .actions-content-list-petshop .search-listpetshop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ebeced;
}

.container-main .petshops .header-list-petshops .actions-content-list-petshop .search-listpetshop .form-search {
  display: flex;
  width: 350px;
  height: 35px;
}

.container-main .petshops .header-list-petshops .actions-content-list-petshop .search-listpetshop .form-search input {
  border: none;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
}

.container-main .petshops .header-list-petshops .actions-content-list-petshop .search-listpetshop .form-search button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  max-width: 75px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 10px;
  color: #717171;
  background: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #ebeced;
  transition: 0.1s;
  cursor: pointer;
}

.container-main .petshops .header-list-petshops .actions-content-list-petshop .search-listpetshop .form-search button svg {
  stroke: #717171;
}

.container-main .petshops .header-list-petshops .actions-content-list-petshop .search-listpetshop .form-search button:hover {
  background: #f9f7f7;
}

.container-main .favorites-petshops .content-list-favorites .list-favorites, .container-main .petshops .list-petshops {
  max-width: 920px;
  display: grid;
  grid-gap: 15px;
  margin: 20px auto 20px;
  column-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  margin-top: 25px;
  margin-bottom: 50px;
  transition: all 0.2s ease 0s;
}

.container-main .favorites-petshops .content-list-favorites {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  padding: 0 10px;
}

.container-main .favorites-petshops .content-list-favorites .list-favorites {
  max-width: 920px;
  display: grid;
  grid-gap: 15px;
  margin: 20px auto 20px;
  column-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  margin-top: 25px;
  transition: all 0.2s ease 0s;
  grid-auto-flow: column;
}

@media only screen and (max-width: 920px) and (min-width: 500px) {
  .container-main .petshops .list-petshops {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 660px) and (min-width: 610px) {
  .container-main .petshops .header-list-petshops .actions-content-list-petshop .search-listpetshop .form-search {
    width: 100%;
  }
}

@media only screen and (max-width: 610px) and (min-width: 0px) {
  .container-main .petshops .header-list-petshops .actions-content-list-petshop {
    display: flex;
    flex-direction: column;
  }

  .container-main .petshops .header-list-petshops .actions-content-list-petshop .btn-actions-search, .container-main .petshops .header-list-petshops .actions-content-list-petshop .search-listpetshop .form-search {
    width: 100%;
  }

  .container-main .petshops .header-list-petshops .actions-content-list-petshop .search-listpetshop {
    width: 100%;
    margin-top: 10px;
  }

  .container-main .petshops .list-petshops {
    grid-template-columns: repeat(1, 1fr);
  }
}