.header-box-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 10px 15px;
  border-bottom: 1px solid #ebeced;
}

.header-box-auth h1 {
  font-size: 24px;
  color: #2D2D2D;
}

.header-box-auth svg {
  margin-right: 8px;
}