.container-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.container-profile .inputs-change-profile {
  margin-top: 25px;
}

.container-profile .inputs-change-profile .form-profile-change {
  margin-top: 25px;
  margin-bottom: 35px;
  padding: 0 20px;
}

.container-profile .inputs-change-profile .form-profile-change .city-states .city-input, .container-profile .inputs-change-profile .form-profile-change .city-states .city-input input {
  margin-right: 20px;
}

.container-profile .inputs-change-profile .form-profile-change .city-states .city-input {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 12px;
  border: 1px solid #d1d5da;
}

.container-profile .inputs-change-profile .form-profile-change .city-states .city-input input {
  background: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0 15px;
  color: #394458;
}

.container-profile .inputs-change-profile .form-profile-change .city-states .states {
  display: flex;
  justify-content: left;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 12px;
  border: 1px solid #d1d5da;
}

.container-profile .inputs-change-profile .form-profile-change .city-states .states input {
  background: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 0 10px;
  color: #394458;
}

.container-profile .inputs-change-profile .form-profile-change .city-states {
  display: flex;
  justify-content: space-between;
  align-items: center;
}