.statusConfirmed {
  background: #7bbb5e !important;
  stroke: #ffffff !important;
}

.selectedButton {
  border-bottom: 2px solid #7bbb5e !important;
}

.openModalEvaluation {
  display: block !important;
}

.visible-list {
  display: grid !important;
}

.visible-div-infomation {
  display: flex !important;
}

.container-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.container-order .content-order {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  max-width: 920px;
  width: 100%;
  margin-bottom: 55px;
}

.container-order .content-order .loading-api {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

.container-order .content-order .card-info-order {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
  height: 100%;
  margin-right: 55px;
  margin-bottom: 45px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ebeced;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
}

.container-order .content-order .card-info-order .header-info-order {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0;
  border-bottom: 1px solid #ebeced;
}

.container-order .content-order .card-info-order .header-info-order h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #7bbb5e;
}

.container-order .content-order .card-info-order .header-info-order .nav-order {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-top: 8px;
}

.container-order .content-order .card-info-order .header-info-order .nav-order button {
  background: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #717171;
  font-size: 16px;
  padding: 5px 15px;
  margin-right: 5px;
  cursor: pointer;
  border-bottom: 2px solid #ebeced;
  transition: border-bottom 0.2s;
}

.container-order .content-order .card-info-order .header-info-order .nav-order button:hover {
  border-bottom: 2px solid #7bbb5e;
}

.container-order .content-order .card-info-order .info-order {
  padding: 10px 20px;
}


/* LIST PRODUCTS */

.container-order .content-order .products-list {
  display: none;
  margin-top: 12px;
  width: fit-content;
  grid-gap: 15px;
  padding: 5px 25px;
  grid-template-columns: 1fr;
  height: fit-content;
  margin-bottom: 50px;
}

.container-order .content-order .information-area {
  display: none;
  max-width: 445px;
  width: 100%;
  justify-content: center;
}

.container-order .content-order .information-area .information-of-order {
  display: flex;
  flex-direction: column;
}

.container-order .content-order .information-area .information-of-order .list-grey {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 3px;
  height: 25px;
  background: #ebeced;
}

.container-order .content-order .information-area .information-of-order .svg-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  stroke: #868686;
  transition: stroke 0.2s;
}

.container-order .content-order .information-area .information-of-order .svg-area {
  background: #ebeced;
}

.container-order .content-order .information-area .information {
  margin-top: 35px;
  margin-left: 15px;
}

.container-order .content-order .information-area .information .info-circle {
  margin-bottom: 45px;
  text-transform: uppercase;
  font-weight: 600;
  color: #717171;
}

@media only screen and (max-width: 700px) and (min-width: 0px) {
  .container-order .content-order .card-info-order {
    max-width: none;
    margin-right: 0;
  }

  .container-order .content-order .card-info-order .header-info-order .nav-order button {
    padding: 5px 10px;
  }

  .container-order .content-order {
    flex-direction: column;
  }
}