.address-info {
  padding: 0 5px;
  margin-top: 2px;
  margin-bottom: 5px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all ease 0.2s;
}

.address-info svg {
  color: #ec910a;
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.address-info span {
  font-size: 15px;
  color: #4c5765;
}

.address-info:hover {
  white-space: initial !important;
}