.product-checkout {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
}

.product-checkout .product-checkout-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-checkout .product-checkout-information .name-and-quantity {
  display: flex;
}

.product-checkout .product-checkout-information .name-and-quantity .how-many-itens {
  white-space: nowrap;
}

.product-checkout .product-checkout-information .name-and-quantity .product-name {
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 200px;
}

.product-checkout .product-checkout-information .price-product-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.product-checkout .btn-remove-product-checkout {
  width: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #7bbb5e;
  transition: 0.1s;
  cursor: pointer;
}

.product-checkout .btn-remove-product-checkout svg {
  transition: 0.1s;
}

.product-checkout .btn-remove-product-checkout:hover, .product-checkout .btn-remove-product-checkout:hover > svg {
  color: #FB4A4D;
  stroke: #FB4A4D;
}

@media only screen and (max-width: 855px) and (min-width: 700px) {
  .product-checkout .product-checkout-information .name-and-quantity {
    width: 80%;
    max-width: 550px;
  }
}

@media only screen and (max-width: 700px) and (min-width: 600px) {
  .product-checkout .product-checkout-information .name-and-quantity {
    width: 80%;
    max-width: 300px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 550px) {
  .product-checkout .product-checkout-information .name-and-quantity {
    width: 80%;
    max-width: 250px;
  }
}

@media only screen and (max-width: 445px) and (min-width: 0px) {
  .product-checkout .product-checkout-information {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
}