.opened-alert-card {
  animation: openAndClose 2s;
  animation-fill-mode: forwards;
}

@keyframes openAndClose {
  0% {
    left: -600px;
  }
  100% {
    left: 30px;
  }
}

.alert-card {
  position: fixed;
  left: -600px;
  bottom: 25px;
  max-width: 415px;
  width: 100%;
  background: #fff;
  border-radius: 5px; 
  border: 1px solid #ebeced;
  z-index: 999;
  transition: left 0.2s;
}

.alert-card .content-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.alert-card .content-alert .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  background: #fafafa;
  margin-right: 20px;
}

.alert-card .content-alert .text-area h3 {
  color: #3e3e3e;
  font-size: 18px;
}

.alert-card .content-alert .text-area span {
  color: #8b8b8b;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  height: 46px;
}

.x-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;
}

.x-alert:hover > svg {
  stroke: #FB4A4D;
  transition: stroke 0.4s;
}

@media only screen and (max-width: 500px) and (min-width: 0px) {
  .alert-card {
    max-width: 350px !important; 
  }
}

@media only screen and (max-width: 400px) and (min-width: 0px) {
  .alert-card {
    max-width: 315px !important;
  }
}

@media only screen and (max-width: 320px) and (min-width: 0px) {
  .alert-card {
    max-width: 260px !important;
  }
}