.container-favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.container-favorites .content-favorites {
  margin-top: 25px;
  max-width: 920px;
  width: 100%;
}

.container-favorites .content-favorites .loading-api {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

.container-favorites .content-favorites .content-list-favorites {
  font-size: 15px;
  color: #2D2D2D;
}

.container-favorites .content-favorites .content-list-favorites .title-list {
  text-align: left;
  color: #394458;
  margin-left: 10px;
}

.container-favorites .content-favorites .content-list-favorites .title-list .transition-small {
  width: 25px;
  height: 3px;
  background: #7bbb5e;
}

.container-favorites .content-favorites .content-list-favorites .list-favorites {
  max-width: 920px;
  display: grid;
  grid-gap: 15px;
  margin: 20px auto 20px;
  padding: 10px;
  grid-column-gap: 15px;
  column-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
  transition: all 0.2s ease 0s;
}

.container-favorites .content-favorites .content-list-favorites .container-nothing {
  margin-top: 65px;
}

@media only screen and (max-width: 1024px) and (min-width: 0px) {
  .container-favorites .content-favorites .content-list-favorites .list-favorites {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
}

@media only screen and (max-width: 639px) and (min-width: 0px) {
  .container-favorites .content-favorites .content-list-favorites .list-favorites {
    grid-template-columns: repeat(1, 1fr);
  }
}