.container-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.container-test .content-test {
  margin-top: 25px;
  max-width: 920px;
  width: 100%;
}