.input-file {
  margin-bottom: 15px;
  transition: 100ms;
}

.input-file label {
  display: flex;
  width: 160px;
  margin: 15px auto 0;
  cursor: pointer;
  border-radius: 50%;
  transition: filter 0.2s;
}

.input-file label:hover {
  filter: contrast(85%);
}

.input-file label img {
  max-width: 160px;
  width: 100%;
  max-height: 160px;
  height: 100%;
  border: 1px solid #ebeced;
  border-radius: 50%;
}

.input-file .name-file {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: initial;
  color: #ec910a;
}