.setHovered {
  stroke: #dabb72;
  color: #dabb72;
  cursor: pointer;
}

.rateSelectedPaws {
  stroke: #dabb72;
  color: #dabb72;
  cursor: pointer;
}

.modal-evaluation {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 120px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.06);
  transition: background 0.2s;
  z-index: 99999;
}

.modal-evaluation .form-evaluation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  border-radius: 10px;
  margin: 25px auto 55px;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,.1);
  border: 1px solid #ebeced;
}

.modal-evaluation .form-evaluation .company-name-area {
  width: 100%;
  max-height: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ebeced;
}

.modal-evaluation .form-evaluation .company-name-area h2 {
  margin: 20px 0;
  color: #7bbb5e;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.modal-evaluation .form-evaluation .errors-evaluation {
  font-size: 18px;
  color: #FB4A4D;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  transition: 0.2s all;
}

.modal-evaluation .form-evaluation .info-form {
  width: 100%;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.modal-evaluation .form-evaluation .info-form h2, .modal-evaluation .form-evaluation .info-form h4 {
  color: #4c5765;
  font-size: 16px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.modal-evaluation .form-evaluation .info-form h4 {
  margin-top: 0;
}

.modal-evaluation .form-evaluation .info-form .image-paw {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #B3B6CB;
}

.modal-evaluation .form-evaluation .info-form .image-paw .paw-evaluation {
  transition: color 0.2s;
}

.modal-evaluation .form-evaluation .info-form .description-area textarea {
  font-size: 15px !important;
  min-height: 150px !important;
}

.modal-evaluation .form-evaluation .info-form .message-before-text-area {
  color: #4c5765;
  margin-bottom: 5px;
}