#sidebar-menu-cart::-webkit-scrollbar {
  width: 5px;
}

#sidebar-menu-cart::-webkit-scrollbar-track {
  background: #1c1b20; 
}

#sidebar-menu-cart::-webkit-scrollbar-thumb {
  background: #aaaaaa; 
}

#sidebar-menu-cart::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.sidebar-cart {
  position: fixed;
  background: #fff;
  border: 1px solid #ebeced;
  min-width: 350px;
  top: 120px;
  right: 55px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 5px 0;
  z-index: 1;
  user-select: none;
}

.sidebar-cart .container-sidebar-cart {
  height: 0%;
  padding: 5px 15px;
}