@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  font-size: 16px;
  color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}