.bottom-to-show-info {
  padding: 9px;
  border: 1px solid #ebeced;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background 0.2s;
  z-index: 45;
}

.bottom-to-show-info .button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2D2D2D;
}

.bottom-to-show-info .button-close svg {
  margin-right: 5px;
}

.bottom-to-show-info:hover {
  background: #fafafa;
}