.open-info-product {
  display: block !important;
}

.modal-to-exit {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: background 0.2s;
  cursor: inherit !important;
  z-index: 50;
}

.info-product {
  display: none;
  height: 100%;
  width: 360px;
  top: 0;
  right: 0;
  position: fixed;
  background: #ffffff;
  box-shadow: 0 8px 16px rgba(0,0,0,.1);
  border: 1px solid #ebeced;
  overflow: hidden;
  z-index: 50;
  padding: 65px 0 25px;
  transition: height 0.2s;
}

.info-product .button-close {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1px 12px;
  border: 1px solid #ec910a;
  width: fit-content;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.info-product .button-close svg {
  margin-right: 5px;
}

.info-product .button-close span {
  color: #ec910a;
  font-size: 16px;
}

.info-product .information-product-in-card {
  padding: 25px 15px;
}

.info-product .information-product-in-card .description-area-hover {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  padding: 5px;
  color: #394458;
  border-bottom: 1px solid #ebeced;
  margin-bottom: 10px;
}

.info-product .information-product-in-card .static-text-title {
  font-size: 16px;
  color: #2D2D2D;
}

.info-product .information-product-in-card .transgenic-area, .info-product .information-product-in-card .fot-which-pet-area {
  padding: 5px 5px 15px;
  color: #394458;
  border-bottom: 1px solid #ebeced;
  margin-bottom: 10px;
}

.info-product .information-product-in-card .static-text {
  margin-right: 5px;
  color: #2D2D2D;
}

.info-product .information-product-in-card .composition-area {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  padding: 5px;
  color: #394458;
  margin-bottom: 10px;
}

